<div>
	<form role='form' name='myForm'>
		<div class='form-group'>
			<input type='email' name='emailTxt' ng-pattern="EMAIL_REGEXP" placeholder='Email' required ng-model="user.mail" />
			<span class="alert error" ng-show="myForm.emailTxt.$error.url">Email error</span>
		</div>
		<div class='form-group'>
			<input type='password' placeholder='Password' id='inputPassword' class='form-control' required ng-model="user.pass" />
		</div>
		<button class='btn btn-default' type='submit' ng-disabled='myForm.$invalid' ng-click="login(user)">Submit</button>
		<p></p>
	</form>
</div>












