Edit <div ng-model="userRole" style="display:inline;">{{userRole}}</div> role
<br/>
<input type="text" class="roleEditInput" placeholder="User role name" name="userRole" ng-model="userRole" />
<br/>
<input type="text" class="roleEditInput" placeholder="User role description" name="roleDesc" ng-model="roleDesc" />

<table>
	<thead>
		<th>ALLOW</th>
		<th>APPLICATION</th>
	</thead>
	<tbody>
		<tr ng-repeat="items in pagedItems">
			<td style="width:50px"><input type="checkbox" /></td>
			<td style="width:auto">{{items.application}}</td>
		</tr>
	</tbody>
	<tfoot>
		<td style="width:50px"><button  ui-sref="home.roleMaintenance">BACK</button></td>
		<td style="width:auto"><button>SAVE</button></td>
	</tfoot>
</table>